<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="{% url 'catalog:products_list' %}">На главную</a>
        </p>
        <p class="mb-1">KKKmerch - это магазин, где вы можете купить уникальный мерч с кошками из сообщества ККК и не
            только!</p>
        <p class="mb-0">Не знакомы с ККК? Можете зайти на самый большой ру <a href="https://t.me/komaru">тг канал</a>.
            Там в чате они активно обсуждаются</p>
    </div>
</footer>