<div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>About KKK</h4>
          <p class="text-body-secondary">😺Norwegianforestcat Komugi 🎂23/March/2016 😽Munchkin Komaru 🎂22/ May/2017 😸Munchkin Cocoa 🎂12/May/ 2019</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Навигация</h4>
          <ul class="list-unstyled">
            <li><a href="{% url 'catalog:products_list' %}" class="text-white">Главная</a></li>
            <li><a href="" class="text-white">Вход</a></li>
            <li><a href="https://boosty.to/rememberme" class="text-white">Иногда, чтобы ХаХаХаХаХа, Нужно - ХаХаХа.</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
