{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <form method="POST" action="{% url 'users:confirm' %}">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                {% csrf_token %}
                                <label for="password" class="form-label">Код верификации</label>
                                <input type="password" name="verification_code" class="form-control"
                                       aria-describedby="passwordHelpBlock">
                                <br>
                                <button type="submit" class="btn btn-primary">Подтвердить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}